.title {
    color: #02ccba;
  }

.side {
  background-color:#b2e3fa70;
  width:200px;
  height:initial;
  text-align:left;
  border-color: black;
} 

article {
    display:flex;
}
.maincontent {
  margin: 0px 30px 0px;
}
 * {
 margin: 0; padding: 0;
}
.overflow-wrap {
  overflow-wrap:  break-word;
}

header {
  width: auto;
  height: 77px;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
  background-color: aliceblue;
  background-image: url("headerbackground.png");
  background-size: cover;
}
.mainsentence{
  padding-left: 20px;
}
.headline{
  font-size: 36px;
  color: white;
  text-shadow: 1px 2px 3px aqua;
}
.sidetitle{
  font-size: 25px;
  text-align: center;
}
.sidesubtitle{
  font-size: 20px;
}
.sidecontent{
  padding-left: 10px;
  font-size: small;
}
.rev-list {
  text-align: center;
  padding: 15px 0;
  margin: 0 auto;
}
.rev-list-item{
  list-style: none;
  display: inline-block;
  margin: 0 25px;
  color: aliceblue;
  font-size: 20px;
  text-shadow: 0px 0px 10px white;
}
